pkgbase = iwlwifi
	pkgdesc = Wireless driver for Intel's current wireless chips (git tag)
	pkgver = r2327.g9cd70e80f7f0
	pkgrel = 1
	url = https://wireless.wiki.kernel.org/en/users/drivers/iwlwifi
	install = iwlwifi.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = linux-headers

pkgname = iwlwifi

