pkgbase = iwlwifi
	pkgdesc = Intel wireless chips driver (git tag)
	pkgver = 2018.05.30.r0.g50624782
	pkgrel = 1
	url = https://wireless.wiki.kernel.org/en/users/drivers/iwlwifi
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = linux-headers
	makedepends = curl
	makedepends = xz

pkgname = iwlwifi

